# Configuration file for MANDI data reduction - automatic profile fitting
#
# Part 1
# Peak Integration  ==>  .integrate and .mat files
# Part 2
# Peak Intensity Normalization ==> .mtz
#
# ==========================================================================
# Configuration parameters for Part1
# Peak Integration
# ==========================================================================
# Each line can either start with a comment, indicated by a '#' mark or start
# with a parameter name and value, optionally followed by a comment.  ALL 
# parameters used by the script must be specified.  If a required parameter 
# is not specified, the script will terminate with a message indicating which 
# parameter was missing.
#

# **************************************************************************
# Parameters needed by ReduceOneSCD_Run.py, to process ONE run.
# **************************************************************************
#
instrument_name   MANDI          # prefix for run file names

#
# Specify calibration file(s).  SNAP requires two calibration files, one
# for each bank.  If the default detector position is to be used, specify
# None as the calibration file name.

calibration_file_1  None
calibration_file_2  None

data_directory     /SNS/MANDI/IPTS-21326/nexus/

#
# Number of peaks to find, per run, both for getting the UB matrix,
# AND to determine how many peaks are integrated, if peak positions are
# NOT predicted.  
#
num_peaks_to_find 150

#
# min_d, max_d and tolerance control indexing peaks.  max_d is also 
# used to specify a threshold for the separation between peaks
# returned by FindPeaksMD, so it should be specified somewhat larger
# than the largest cell edge in the Niggli reduced cell for the 
# sample.
#
min_d         65.0
max_d         120.0
tolerance  0.15

#
# unit cell parameters for the sample.  These will be used if the UB
# matrix cannot be found by FindUBUsingFFT, in which case autoreduction
# will fall back on FindUBUsingLatticeParameters
#
unitcell_a      73.3
unitcell_b      73.3
unitcell_c      99.0
unitcell_alpha  90
unitcell_beta   90
unitcell_gamma  120

#
# If predicted peak positions are to be integrated, 
# the integrate_predicted_peaks flag should be set to True and the range 
# of wavelengths and d-spacings must be specified
#
integrate_predicted_peaks   True
min_pred_wl                 2.0
max_pred_wl                 4.0
min_pred_dspacing           2.3
max_pred_dspacing           15.0

#
# This is set to only use spherical integration.  We only need this as a rough comparison to profile
# fitted intensities to serve as a sanity check.
#
peak_radius             0.020 
bkg_inner_radius        0.021 
bkg_outer_radius        0.023 

#
# A couple of things for the IntegrateThingsProfileFitting algorithm.  These are explained in the
# IntegrateProfileFitting's documentation.
#
moderator_file              /SNS/MANDI/shared/ProfileFitting/bl11_moderatorCoefficients_2018.dat
strong_peaks_params_file    None
intensity_cutoff            200
edge_cutoff                 3
frac_stop                   0.05
min_ppl_frac                0.9
max_ppl_frac                1.1
dq_max                      0.15

# ==========================================================================
# Configuration parameters for Part 3
# Generate mtz file from all applicable runs.  This will run intensities through
# lauenorm (from the laugen package) to do wavelength and image normalization. The
# output is a merged and unmerged mtz file containing F's for further analysis.
# ==========================================================================
#
first_run_number        9105 #First run number that you want to include in creating the mtz files
spacegroup_number       154 #Space group number for laueNorm. 
mtz_name                betalac #name for mtz files resulting from laueNorm 

lauenorm_edge_pixels    1 #number of pixels from the edge to exclude
lauenorm_scale_peaks    3. #Value to scale peak intensitys and sigmas by
lauenorm_min_d          1.2 #Minimum d value to output for laueNorm
lauenorm_min_wl         2.0 #Max wavelength to output for laueNorm
lauenorm_max_wl         4.0 #Max wavelength to output for lauenorm
lauenorm_min_isi        1.0 #Min I/sigma to output for laueNorm
lauenorm_mini           0.0 #Min I to output for laueNorm

# The next lines are directories for lauenorm. Do not edit them unless you know exactly what you
# are doing.
pbpDir                  /SNS/MANDI/shared/laue3/ #pbp directory for laueNorm.  Must contain multidiags.out (from laugen). Should end with /
laueLibDir              /SNS/MANDI/shared/laue3/laue/laue_install/lib/ #library file for lauegen.  Should end with /
laueNormBin             /SNS/MANDI/shared/laue3/laue/laue_install/bin/lauenorm #Binary file for lauenorm.

force_lattice_parameters True
